.title {
  margin: 0;
}

.title::first-letter {
  text-transform: uppercase;
}

.para {
  margin: 0;
}

.card {
  display: flex;
  gap: 8px;
  flex-direction: column;
  transition: .5s ease all;
  border: 1px solid transparent;
  padding: 8px 16px;
  border-radius: 6px;
}

.card:hover,
.card:active {
  border-color: #1f1f1f;
}

@media (prefers-color-scheme: dark) {

  .card:hover,
  .card:active {
    border-color: #fafafa;
  }
}